<h1>Document manager</h1>
<p>Find me in app/views/home/index.html.erb</p>

<ul>
<li><%= link_to "Projects", projects_path %></li>
<li><%= link_to "Document types", document_types_path %></li>
<li><%= link_to "Documents", documents_path %></li>
<li><%= link_to "Document versions", document_versions_path %></li>



</ul>
